body{
    background-color: aqua;}
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .header nav {
        display: flex;
        gap: 20px;
    }

    .header a {
        text-decoration: none;
    }